.footer {
  bottom: 0;
  width: 100vw;
  min-height: 100%;
  margin-top: 10px;
  margin-top: auto;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socialMedia svg, .socialMedia a {
  color: rgb(255, 0, 0);
  margin: 20px;
  font-size: 50px;
  cursor: pointer;
  text-decoration: none;
}

.footer p {
  color: rgb(0, 255, 13);
}